<section className="section-homeworkdetails">
    <div className="homework">
        <div className="description">
            <p>{this.get_HomeworkDescription()}</p>
        </div>
        <div className="material card">
            <ul>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p className="title">ExtraLongFilename.html</p>
                    <div className="buttons">
                        <a className="download" href="#"><i className="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <a className="delete" href="#"><i className="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p className="title">ExtraLongFilename.html</p>
                    <div className="buttons">
                        <a className="download" href="#"><i className="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <a className="delete" href="#"><i className="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p className="title">ExtraLongFilename.html</p>
                    <div className="buttons">
                        <a className="download" href="#"><i className="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <a className="delete" href="#"><i className="fa fa-trash" aria-hidden="true"></i></a>
                    </div>

                </li>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p className="title">ExtraLongFilename.html</p>
                    <div className="buttons">
                        <a className="download" href="#"><i className="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <a className="delete" href="#"><i className="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>