<section id="extended" class="tab-content section-homeworkdetails">
	<h5>Details</h5>
    <div class="homework">
        <div class="description">
            <p>{{description}}</p>
        </div>
        <div class="material card">
            <ul>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p class="title">ExtraLongFilename.html</p>
                    <div class="buttons">
                        <a class="download" href="#"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <a class="delete" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p class="title">ExtraLongFilename.html</p>
                    <div class="buttons">
                        <a class="download" href="#"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <a class="delete" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p class="title">ExtraLongFilename.html</p>
                    <div class="buttons">
                        <a class="download" href="#"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <a class="delete" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>

                </li>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p class="title">ExtraLongFilename.html</p>
                    <div class="buttons">
                        <a class="download" href="#"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <a class="delete" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>