<section id="submissions" class="tab-content section-homeworksubmissions">
	<h5>Abgaben</h5>
    <table class="table table-hover">
        <thead>
        <tr>
            <th/>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Abgegeben</th>
            <th>Bewertung</th>
            <th/>
        </tr>
        </thead>
        <tbody class="usersubmission">
        <tr class="userinfo">
            <td><img class="picture" src="https://randomuser.me/api/portraits/men/3.jpg" alt=""/></td>
            <td>David</td>
            <td>Dietrich</td>
            <td><font color="green"><i class="fa fa-check" aria-hidden="true"/></font></td>
            <td>2+</td>
            <td><i class="fa fa-pencil-square-o" aria-hidden="true"/></td>
        </tr>
        <tr class="evaluation">
            <td colSpan="6">{{>"homework/evaluation"}}</td>
        </tr>
        </tbody>

        <tbody class="usersubmission">
        <tr class="userinfo">
            <td><img class="picture" src="https://randomuser.me/api/portraits/women/11.jpg" alt=""/></td>
            <td>Lisa</td>
            <td>Hoppe</td>
            <td><font color="red"><i class="fa fa-times" aria-hidden="true"/></font></td>
            <td>2+</td>
            <td><i class="fa fa-pencil-square-o" aria-hidden="true"/></td>
        </tr>
        <tr class="evaluation">
            <td colSpan="6">{{>"homework/evaluation"}}</td>
        </tr>
        </tbody>

        <tbody class="usersubmission">
        <tr class="userinfo">
            <td><img class="picture" src="https://randomuser.me/api/portraits/men/20.jpg" alt=""/></td>
            <td>Maximilian</td>
            <td>Himmel</td>
            <td><font color="green"><i class="fa fa-check" aria-hidden="true"/></font></td>
            <td>2+</td>
            <td><i class="fa fa-pencil-square-o" aria-hidden="true"/></td>
        </tr>
        <tr class="evaluation">
            <td colSpan="6">{{>"homework/evaluation"}}</td>
        </tr>
        </tbody>
    </table>
</section>