{{#extend "lib/components/modal"}}
    {{#content "body"}}
        <form class="modal-form" method="{{method}}" action="{{action}}">

            <div class="modal-body">
                {{#block "fields"}}{{/block}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close">
                    {{closeLabel}}
                </button>

                <button type="submit" class="btn btn-primary btn-submit">
                    {{submitLabel}}
                </button>
            </div>
        </form>
    {{/content}}
{{/extend}}