{{#extend "lib/layouts/default"}}
    {{#content "body"}}
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>

        {{#embed "lib/components/image"}}{{/embed}}
    {{/content}}
{{/extend}}